*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.app-container{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.speedo-meter-container{
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color:red;
    font-family: Bree Serif;
    font-weight: 900;
    text-decoration: underline;
    padding-bottom: 20px;
    font-style: italic;
   
}

.speedoImage{
    height: 60vh;
    width: 78vw;
    border-radius: 20px;

}

h2{
    color: black;
    font-family: Bree Serif;
}

.speed{
    color: red;
    font-weight: 1300;
    font-size: 40px;
}
.button-container{
    display: flex;
    justify-content: space-between;
}

button{
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    font-family: Roboto;
    border-width: 1px;
    border-style: double;
    background-color: transparent;
    margin: 10px;
    box-shadow: 0px 4px 16px 0px #000000;

}

button:hover{
    cursor:pointer;
    background-color: red;
   
}
button:active{
    transform: scale(1.1);
}
button:hover{
    transform: scale(1.2);
}
